* {
  font-family: "Andika", sans-serif;
}

h1 {
  font-family: "Yeon Sung", cursive;
}
.nav-link:hover {
  background-color: rgba(82, 87, 92, 1);
}

.bg-view {
  background-color: rgba(82, 87, 92, 0.596);
  min-height: 79vh;
}

form {
  width: 90%;
}

.box-form {
  display: flex;
  align-items: center;
}

.card-image {
  width: 20rem;
  margin: 2px;
}
